.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.seek-container{
    width: calc(70% / 0.84); 
    height: 20px; /* Высота ползунков */
}

.volume-container {
    width: calc(70% / 6); 
    height: 20px; /* Высота ползунков */
}

.seek-container input[type="range"],
.volume-container input[type="range"] {
    width: 100%;
    height: 100%; /* Высота ползунков */
}

/* Остальные стили оставляем без изменений */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.music-list {
    margin-top: 20px;
    text-align: center;
}

.music-list h2 {
    color: #333;
}

.music-player {
    margin-top: 20px;
    text-align: center;
}
